<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Segment</th>
      <th>Median Monetary</th>
      <th>Median Frequency</th>
      <th>Median Recency</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>247</th>
      <td>new customer</td>
      <td>128131.0</td>
      <td>595.0</td>
      <td>3420.52733</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Loyal</td>
      <td>127017.0</td>
      <td>386.5</td>
      <td>2828.52733</td>
    </tr>
    <tr>
      <th>9</th>
      <td>high spender</td>
      <td>135108.0</td>
      <td>273.0</td>
      <td>2150.52733</td>
    </tr>
    <tr>
      <th>129</th>
      <td>low spender</td>
      <td>146937.0</td>
      <td>461.5</td>
      <td>2051.02733</td>
    </tr>
    <tr>
      <th>64</th>
      <td>median customer</td>
      <td>108110.0</td>
      <td>539.0</td>
      <td>2170.52733</td>
    </tr>
    <tr>
      <th>45</th>
      <td>hibernating</td>
      <td>137392.5</td>
      <td>484.0</td>
      <td>4800.52733</td>
    </tr>
    <tr>
      <th>43</th>
      <td>can't loose</td>
      <td>120469.5</td>
      <td>327.5</td>
      <td>4798.52733</td>
    </tr>
    <tr>
      <th>317</th>
      <td>Frequentist</td>
      <td>130995.0</td>
      <td>504.0</td>
      <td>2107.52733</td>
    </tr>
    <tr>
      <th>27</th>
      <td>potential loyal</td>
      <td>142589.0</td>
      <td>660.0</td>
      <td>4447.52733</td>
    </tr>
    <tr>
      <th>53</th>
      <td>champions</td>
      <td>124989.5</td>
      <td>487.0</td>
      <td>3611.02733</td>
    </tr>
    <tr>
      <th>377</th>
      <td>lost</td>
      <td>154500.0</td>
      <td>804.0</td>
      <td>4802.52733</td>
    </tr>
  </tbody>
</table>